body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #8a2be2;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.gallery {
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.photo-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s;
}

.photo-grid img:hover {
    transform: scale(1.1);
}

/* Animasi untuk header */
header {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
